<div ng-include="'views/common/templates/navbar.view.client.html'"></div>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    News
                </div>
                <div class="hidden-xs col-sm-2">
                    Date
                </div>
            </div>
        </li>
        <li ng-repeat="news in model.newsList" class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    {{news._client.firstName}} {{news._client.lastName}} assigned a task to
                    {{news._contractor.firstName}} {{news._contractor.lastName}}
                </div>
                <div class="hidden-xs col-sm-2">
                    {{news.time | date}}
                </div>
            </div>

        </li>
    </ul>
</div>