<div ng-include="'views/common/templates/navbar.view.client.html'"></div>

<div class="container">
    <h3 class="text-center"> REGISTER </h3>

    <div ng-show=model.emptyUsername class="alert alert-danger">
        {{model.emptyUsername}}
    </div>
    <label class="control-label"
           for="username">Username</label>
    <input id="username"
           placeholder="username"
           class="form-control"
           ng-model="username"
    />

    <div ng-show=model.emptyPassword class="alert alert-danger">
        {{model.emptyPassword}}
    </div>
    <label class="control-label"
           for="password">Password</label>
    <input id="password"
           placeholder="password"
           type="password"
           class="form-control"
           ng-model="password"
    />

    <div ng-show=model.emptyPassword2 class="alert alert-danger">
        {{model.emptyPassword2}}
    </div>
    <label class="control-label"
           for="verifyPassword">Verify Password</label>
    <input id="verifyPassword"
           placeholder="re-enter password"
           type="password"
           class="form-control"
           ng-model="verify"
    />

    <div ng-show="model.emptyEmail" class="alert alert-danger">
        {{model.emptyEmail}}
    </div>
    <label class="control-label"
           for="email">Email</label>
    <input id="email"
           placeholder="email"
           type="email"
           class="form-control"
           ng-model="email"
    />

    <div ng-show="model.emptyDob" class="alert alert-danger">
        {{model.emptyDob}}
    </div>
    <label class="control-label" for="dob">Date of Birth</label>
    <input id="dob"
           type="date"
           class="form-control"
           ng-model="dob"
    />

    <label for="asContractor">Sign up as a contractor</label>
    <input id="asContractor"
           type="checkbox"
           ng-model="asContractor"
    />

    <div ng-show="asContractor">
        <label for="skill">Skill</label>
        <input id="skill"
               ng-model="skill"
               class="form-control"
        />
    </div>

    <button ng-if="!asContractor" ng-click="model.register(username, password, verify, email, dob)"
            class="btn btn-block btn-success">
        Register
    </button>

    <button ng-if="asContractor" ng-click="model.registerContractor(username, password, verify, email, dob, skill)"
            class="btn btn-block btn-success">
        Register As Contractor
    </button>

    <a href="#!/login">
        Already have an account? Sign in here
    </a>

</div>




